.ctn-error-pista{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
}
.errores, .pista{
    margin-top: 5px;
  margin-left: 25px;
  border: 2px solid black;
  border-radius: 5px 5px;
    color: black;
    padding: 15px;
    font-size: 1.2rem;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    min-width: 110px;
    max-height: 45px;
}
.pista{
    cursor: pointer;
}

.errores:hover, .pista:hover{
    background-color: lightgreen;
    box-shadow: 2px 2px 5px black;
    color: black;    
}
.errores:hover{
    background-color: lightcoral;
}
.errores span{
    color: white;
}

.ctn-welcome{
    width: 60%;
    margin: auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px 5px;
    padding: 10px;
    line-height: 40px;
}
.click{
    text-decoration: underline;
    cursor: pointer;
    color: white;
}


@media (max-width: 768px){
    .ctn-welcome{
        width: 75%;
    }
    .ctn-welcome h1, .ctn-welcome h2 {
        font-size: 1.3rem;
}
.ctn-welcome h3 {
    font-size: 1.1rem;
}
.errores, .pista{
    font-size: 1rem;
}
}
@media (max-width: 576px) {
    .ctn-welcome{
        width: 85%;
    }
    .ctn-welcome h1, .ctn-welcome h2 {
            font-size: 1.1rem;
    }
    .ctn-welcome h3 {
        font-size: 1rem;
}
.ctn-error-pista{
    display: flex;
    justify-content: center;
}
.errores, .pista {
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 5px 5px;
    color: black;
    font-size: 0.8rem;
}
}
