.ctn-error-pista{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.errores, .pista{
    margin-top: 5px;
  margin-left: 25px;
  border: 2px solid black;
  border-radius: 5px 5px;
    color: black;
    padding: 12px;
    font-size: 1.2rem;
}
.errores span{
    color: white;
}
.pista{
    cursor: pointer;
}
.errores:hover, .pista:hover{
    background-color: rgb(194, 194, 194);
    box-shadow: 2px 2px 5px white;
}

.ctn-welcome{
    width: 60%;
    margin: auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px 5px;
    padding: 10px;
    line-height: 40px;
}
.click{
    text-decoration: underline;
    cursor: pointer;
    color: white;
}


@media (max-width: 768px){
    .ctn-welcome{
        width: 75%;
    }
    .ctn-welcome h1, .ctn-welcome h2 {
        font-size: 1.3rem;
}
.ctn-welcome h3 {
    font-size: 1.1rem;
}
.errores, .pista{
    font-size: 1rem;
}
}
@media (max-width: 576px) {
    .ctn-welcome{
        width: 85%;
    }
    .ctn-welcome h1, .ctn-welcome h2 {
            font-size: 1.1rem;
    }
    .ctn-welcome h3 {
        font-size: 1rem;
}
.errores, .pista {
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 5px 5px;
    color: black;
    padding: 12px;
    min-width: 25%;
    max-width: 28%;
    font-size: 0.8rem;
    text-align: center;
}
}
/* @media (max-width: 992px){
    .ctn-welcome{
        width: 70%;
    }
    .ctn-welcome h1, .ctn-welcome h2 {
        font-size: 1.3rem;
}
.ctn-welcome h3 {
    font-size: 1.1rem;
}
.errores, .pista{
    font-size: 1rem;
}
} */